{{#section 'css'}}
<style>
.star-rating.disabled{
  margin-top: 4px;
}
</style>
{{/section}}

{{#section 'js'}}

{{/section}}

<main>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #ffffff!important; margin-bottom:0px!important">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/course">Khóa học</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{course_detail.name}}</li>
      </ol>
    </nav>
  </div>
  <div class="page-section bg-light" style="padding-top:0px!important">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-8 py-3">
          <div class="blog-single-wrap">
            <div class="post-thumbnail">
              <img src="/img/course/{{course_detail.image}}" alt="{{course_detail.name}}" style="width:100%;height:100%;">
            </div>
            <h1 class="post-title">{{course_detail.name}}</h1>
            <p>{{course_detail.short_description}}</p>
            <div class="post-meta">
              <div class="post-author">
                <p href="#">
                  {{#each this.teacher}}
                  {{this.fullname}}
                  {{/each}}
                </p>
              </div>
              <span class="gap">|</span>
              <div class="post-date">
                <p>{{course_detail.modification_date}}</p>
              </div>
              <span class="gap">|</span>
              <div>
                <p>{{num_of_member.member}} Học viên </p>
              </div>
              {{#if rating.rating}}
              <span class="gap">| <span style="color: red; font-size: 14px;">{{rating.rating}}/5</span> </span>
              <input type="hidden" id="myrating" value="{{rating.rating}}">
              <div class="post-comment-count">
                <p id="myscorerating"> 
                    <script>
                      var myRating = raterJs({
                        element: document.querySelector("#myscorerating"),
                        starSize: 15,
                        readOnly: true,
                        rateCallback: function rateCallback(rating, done) {
                          this.setRating(rating);
                          done();
                        }
                      });
                      console.log($('#myrating').val());
                      myRating.setRating(parseFloat($('#myrating').val()));
                    </script>
                </p>
              </div>
              <span style="color: #a4a7b7; font-size: 14px;">({{rating.num_of_rating}} đánh giá)</span>
              {{/if}}
            </div>
            <div class="post-content">
              {{{course_detail.description}}}
            </div>
          </div> <!-- .blog-single-wrap -->

          <div class="comment-form-wrap pt-5">
            <h3>Đề cương khóa học</h3>
            <div class="accordion" id="accordionExample">
              {{#each course_detail.chapter_lesson}}
              <div class="card">
                <div class="card-header" id="heading{{this.id}}">
                  <h2 class="mb-0">
                    <button class="btn btn-link text-left" style="width: 100%; padding-left:0px;" type="button"
                      data-toggle="collapse" data-target="#collapse{{this.id}}" aria-expanded="true"
                      aria-controls="collapse{{this.id}}">
                      {{this.name}}
                    </button>
                  </h2>
                </div>

                <div id="collapse{{this.id}}" class="collapse show" aria-labelledby="heading{{this.id}}"
                  data-parent="#accordionExample">

                  {{#each this.lesson}}
                  <div class="card-body border-bottom">
                    <a style="color: black;" {{#if ../../checkUserPurchased }}
                      href="/course/{{../../course_detail.id}}/lesson/{{this.id}}" {{else}} href=""
                      {{/if}}>{{this.name}}</a>
                  </div>
                  {{/each}}
                </div>
              </div>
              {{/each}}
            </div>
          </div> <!-- .comment-form-wrap -->


          <div class="comment-form-wrap pt-5">
            <h3>Giáo viên</h3>
            <div class="teacher-info">
              {{#each this.teacher}}
              <div class="row">
                <div class="col-sm-4">
                  <img class="rounded-circle" style="width:150px; height:150px;" alt="100x100"
                    src="/img/user/{{this.id}}.jpg" data-holder-rendered="true">
                </div>
                <div class="col-sm-8">
                  <h5 class="my-2">{{this.fullname}}</h5>
                  <p>Thông tin: {{{this.info}}}</p>
                  <p>Số điện thoại: {{this.phone}}</p>
                  <p>Email: {{this.email}}</p>
                </div>
              </div>
              {{/each}}
            </div>
          </div> <!-- .comment-form-wrap -->

          <div class="comment-form-wrap pt-5">
            <h3>Đánh giá</h3>
            <form action="" onsubmit="setRatingInput()" method="POST">
              <input id="rating" name="rating" type="hidden">
              <div class="form-row form-group">
                <div class="col">
                  <div id="rater"></div>
                  <script>
                    var myRating = raterJs({
                      element: document.querySelector("#rater"),
                      starSize: 40,
                      rateCallback: function rateCallback(rating, done) {
                        this.setRating(rating);
                        done();
                      }
                    });
                    myRating.setRating(5);

                    function setRatingInput() {
                      var input = document.getElementById('rating');
                      input.value = myRating.getRating();
                    }
                  </script>
                </div>
              </div>
              {{!-- <div class="col-md-6">
                <label for="name">Tên *</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="col-md-6">
                <label for="email">Số điện thoại *</label>
                <input type="email" class="form-control" id="email">
              </div>
          </div>
          <div class="form-group">
            <label for="website">Email</label>
            <input type="url" class="form-control" id="website">
          </div> --}}
          <div class="form-group">
            <label for="message">Nhận xét</label>
            <textarea name="msg" id="message" cols="30" rows="8" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Đăng bình luận" class="btn btn-primary" {{#if checkUserPurchased }} {{else}}
              disabled {{/if}}>
          </div>

          <div class="other my-5">
            <h3>Bình luận khác</h3>
            {{#each feedback}}
            <div class="comment my-3 py-3" style="background-color:rgb(235 236 239); border-radius: 10px;">
              <div class="row">
                <div class="col-sm-1">
                  <img class="rounded-circle" style="width:50px; height:50px;" alt="100x100"
                    src="/img/user/{{id_user}}.jpg" data-holder-rendered="true">
                </div>
                <div class="col-sm-4">
                  <h5 style="margin:0">{{fullname}}</h5>
                  {{{rating_star}}}
                </div>
                <div class="col-sm-7 text-right text-muted pr-4">
                  {{modification_date}}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">{{comment}}</div>

              </div>
            </div>
            {{/each}}
          </div>
          </form>
        </div> <!-- .comment-form-wrap -->
      </div>

      <div class="col-lg-4 py-3">
        <div class="widget">
          <div class="widget-box">

            <h5 class="mb-3">{{course_detail.name}}</h5>

            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Giá khóa học
                <span>{{course_detail.price}} đ</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Giảm giá
                <span>{{course_detail.offer}} %</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Thành tiền</strong>
                  <strong>
                    <p class="mb-0">(đã bao gồm VAT)</p>
                  </strong>
                </div>
                <span><strong>{{course_detail.current_price}} đ</strong></span>
              </li>
            </ul>
            {{#if checkUserPurchased }}
            <button type="button" class="btn btn-danger btn-block disabled">ĐÃ SỞ HỮU</button>
            {{else}}
            <a {{#if sessionuser}} href="/course/{{course_detail.id}}/buy" {{else}} href="/account/login/" {{/if}}
              class="text-decoration-none"><button type="button" class="btn btn-danger btn-block">MUA NGAY</button></a>
            {{/if}}
          </div>
          {{!-- <div class="widget-box">
            <h3 class="widget-title">Tìm kiếm</h3>
            <div class="divider"></div>
            <form action="#" class="search-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Lĩnh vực hoặc khóa học">
                <button type="submit" class="btn"><span class="icon mai-search"></span></button>
              </div>
            </form>
          </div> --}}

          <div class="widget-box">
            <h3 class="widget-title">Khóa học liên quan</h3>
            <div class="divider"></div>
            {{#each top5course}}
            <div class="blog-item">
              <div class="content">
                <h6 class="post-title"><a href="/course/{{id}}">{{this.name}}</a></h6>
                <div>
                  <img style="width: 100%; height: 150px;" src="/img/course/{{id}}.jpg" alt="">
                </div>
                <div class="meta">
                  <a href="/course/{{id}}"><span class="mai-calendar"></span> {{modification_date}}</a>
                  <a href="/course/{{id}}"><span class="mai-person"></span> {{num_of_member.member}}</a>
                  <a href="/course/{{id}}"><span class="mai-chatbubbles"></span> {{rating.num_of_rating}}</a>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>