{{#section 'css'}}
<style>
    a{
        color: black;
    }
    a:hover{
        text-decoration: none;
    }
    a:focus{
        color: blue;
    }
    .avatar-wrapper{
	position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    }
	.profile-pic {
        position: absolute;
        z-index: 1;
	}
	.upload-button {
		position: absolute;
        z-index: 2;
        bottom:0;
        left: 0;
        width: 100%;
        height: 30%;
        opacity: 0;
        background-color: rgb(31, 30, 30);
        color: white;
	}
    .upload-button:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    .input-group.file-caption-main,.file-input.theme-fa{
        display: none;
    }
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
  $('#fuMain').fileinput({
    theme: 'fa',
    dropZoneEnabled: false,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
  });
</script>
<script>
    $(document).ready(function() {      
        var readURL = function(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                    $('.avatar').attr('src', e.target.result);
                }
        
                reader.readAsDataURL(input.files[0]);
            }
        }
    
        $("#fuMain").on('change', function(){
            readURL(this);
        });
        
        $(".upload-button.d-flex.justify-content-center.align-items-center").on('click', function() {
        $("#fuMain").click();
        });
    });
</script>
{{/section}}
{{#section 'js'}}
   <script>
    $('#frm').on('submit', function (e) {
      e.preventDefault();
      var rel = $('#txt').val(validated_name());
      if($('#txt').val() == "true"){
        rel = $('#txt').val(validated_email());
        if($('#txt').val() == "true"){
          const email = $('#txtEmail').val();
          const old_email = $('#old_email').val();
          if(email != old_email){
          $.getJSON(`/account/email/is-available?email=${email}`, function (data) {
            if (data === true) {
              rel = $('#txt').val(validated_phone());
              if($('#txt').val() == "true"){
                $('#frm').off('submit').submit();
              }else{
                alert("Số điện thoại không hợp lệ.");
              }
            } else {         
              alert('Email đã tồn tại.');
            }
          })
          }else{
            rel = $('#txt').val(validated_phone());
              if($('#txt').val() == "true"){
                $('#frm').off('submit').submit();
              }else{
                alert("Số điện thoại không hợp lệ.");
            }
          }
        }else{
          alert("Email không hợp lệ.");
        }
      }else{
        alert("Xin vui lòng điền họ và tên của bạn.");
      }
    });

    
    function validated_name(){
			var name = document.getElementById("txtName").value;
			if(name === null || name === ''){
				return false;
			}      
			return true;
		};
   
    function validated_phone(){
      var phone = document.getElementById("txtPhone").value;
      if(phone === null || phone === '' || phone.length > 11 || phone.length < 6){
        return false;
      }
      return true;
    };
  
   	function validated_email(){
			var email = document.getElementById("txtEmail").value;
			var reg_mail = /^[A-Za-z0-9]+([_\.\-]?[A-Za-z0-9])*@[A-Za-z0-9]+([\.\-]?[A-Za-z0-9]+)*(\.[A-Za-z]+)+$/;
			if(email === '' || email === null || reg_mail.test(email) === false){		
				return false;
			}
      return true;
		};
    </script>
{{/section}}
  <main>
    <div class="container">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #ffffff!important; margin-bottom:0px!important">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thông tin tài khoản</li>
      </ol>
    </nav>
    </div>
    <div class="page-section bg-light" style="padding-top:0px!important">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-4 py-3">
            <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-3">
                        <img class="avatar rounded-circle" style="width:60px; height:60px;" alt="60x60" src="/img/user/{{user.avatar}}"
                        data-holder-rendered="true">
                    </div>
                    <div class="col-sm-9">
                        <h5>{{user.fullname}}</h5>
                        {{role}}
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="border-left: 5px solid blue;"><a href="/account/profile"><strong>Thông tin tài khoản</strong></a></li>
                <li class="list-group-item"><a href="/account/watchlist"><strong>Danh sách khóa học yêu thích</strong></a></li>
            </ul>
            </div>  
          </div>

          <div class="col-md-8 py-3">
            <div class="card">
            <div class="card-header py-4 d-flex align-items-center">
                <h5>Thông tin tài khoản</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                    <div class="col-3">
                        <div class="avatar-wrapper mt-2">
                            <img class="rounded-circle profile-pic" style="width:150px; height:150px;" alt="150x150" src="/img/user/{{user.avatar}}"
                            data-holder-rendered="true">
                            <div class="upload-button d-flex justify-content-center align-items-center">
                                <i class="fa fa-camera fa-lg" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <form id="form1" method="get" action="/account/changepassword"></form>
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="row my-4">
                                    <div class="col-sm-4 d-flex align-items-center">
                                      <form method="POST" id="frm"></form>
                                         <input type="hidden" id="txtId" name="txtId" value="{{profile.id}}">
                                        <strong>Họ và tên</strong>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="{{user.fullname}}">
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-sm-4 d-flex align-items-center">
                                        <strong>Tên tài khoản</strong>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtUsername" name="txtUsername" readonly="true" value="{{user.username}}">
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-sm-4 d-flex align-items-center">
                                        <strong>Email</strong>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtEmail" name="txtEmail" value="{{user.email}}">
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-sm-4 d-flex align-items-center">
                                        <strong>Số điện thoại</strong>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtPhone" name="txtPhone" value="{{user.phone}}">
                                    </div>
                                </div>
                                <div class="form-group mt-5 float-right">
                                    <button class="btn btn-outline-primary px-5" form="form1">Thay đổi mật khẩu</button>             
                                    <button type="submit" class="btn btn-primary px-5 ml-2">Lưu thay đổi</button>
                                    <input type="hidden" class="form-control" id="txt" name="txt">
                                    <input type="hidden" class="form-control" id="old_email" name="old_email" value="{{user.email}}">
                                </div>
                                <input id="fuMain" name="fuMain" type="file" class="file" multiple value="/img/user/{{user.avatar}}">
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </main>