<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>Rekdu - Free Online Course Website Template</title>

  <link rel="stylesheet" href="/css/bootstrap.css">

  <link rel="stylesheet" href="/css/maicons.css">

  <link rel="stylesheet" href="/vendor/animate/animate.css">

  <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">

  <link rel="stylesheet" href="/vendor/fancybox/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/css/theme.css">

  <link rel="stylesheet" href="/css/carousel.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {{!-- dropdown css --}}
  <link rel="stylesheet" href="/css/main.css">

  {{{_sections.css}}}

  <script src="/js/index.js"></script>

</head>

<body>

  <!-- Page Loader -->
  <div class="loader-container">
    <img src="/img/ripple.svg" alt="">
  </div>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-float">
      <a href="/" class="navbar-brand">Rekdu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm khóa học" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Tìm kiếm</button>
      </form>
      <div class="collapse navbar-collapse" id="navbarNavDropdown"></div>
      <ul class="navbar-nav ml-auto py-3 py-lg-0">
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Danh mục
          </a>
          <ul class="dropdown-menu text-right straight" aria-labelledby="navbarDropdownMenuLink">
            {{{menu}}}
          </ul>
        </li>
        {{#if isAuth}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            Xin chào,
            {{#if (authUser.name) }}
            <b>{{authUser.name}}</b>!
            {{else}}
            <b>{{authUser.username}}</b>!
            {{/if}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/account/profile">
              <i class="fa fa-user" aria-hidden="true"></i>
              Thông tin tài khoản
            </a>
            <div class="dropdown-divider"></div>
            <form id="frmLogout" method="POST" action="/account/logout"></form>
            <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Đăng xuất
            </a>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/account/login" class="btn btn-primary">Đăng nhập</a>
        </li>
        {{/if}}
      </ul>
      </div>
    </nav>

    <div class="page-banner home-banner bg-img overlay-dark_gradient"
      style="background-image: url(/img/bg_image_1.jpg);">
      <div class="hero-section">
        <div class="container wow fadeInUp">
          <div class="row justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Learn
                <span id="typed-text">
                  <span>Data Analyst</span>
                  <span>Artificial Intelligence</span>
                  <span>Web Development</span>
                </span>
                <span id="typed"></span>
              </h1>
              <p class="space-down-32">Upgrade your skills anytime & anywhere.<br>Schedule your time to learn and raise
                your success career.</p>
              <a href="#about" class="btn btn-primary" data-role="smoothscroll">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{{body}}}

  <footer class="page-footer" style="padding-top: 50px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-5">
          <h3>Rekdu</h3>
          <p>Nền tảng khóa học trực tuyến tốt nhất và cộng tác với hàng nghìn trường đại học và công ty hàng đầu</p>
          <div class="sosmed-button mt-3">
            <a href="#"><span class="mai-logo-facebook-f"></span></a>
            <a href="#"><span class="mai-logo-twitter"></span></a>
            <a href="#"><span class="mai-logo-youtube"></span></a>
            <a href="#"><span class="mai-logo-linkedin"></span></a>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <h5>Về chúng tôi</h5>
          <ul class="footer-menu">
            <li><a href="/team">Đội ngũ</a></li>
            <li><a href="/policy">Chính sách bảo mật</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Các lĩnh vực phổ biến</h5>
          <ul class="footer-menu">
            {{#each fcat}}
            <li><a href="/course{{caturl}}">{{name}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <hr>
      <div class="row mt-4">
        <div class="col-md-6">
          <p id="copyright">Copyright &copy; Rekdu 2020.</p>
        </div>
      </div>
    </div> <!-- .container -->
  </footer> <!-- .page-footer -->

  <script src="/js/jquery-3.5.1.min.js"></script>

  <script src="/js/bootstrap.bundle.min.js"></script>

  <script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>

  <script src="/vendor/typedjs/typed.min.js"></script>

  <script src="/vendor/fancybox/js/jquery.fancybox.min.js"></script>

  <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>

  <script src="/vendor/animateNumber/jquery.animateNumber.min.js"></script>

  <script src="/vendor/wow/wow.min.js"></script>

  <script src="/js/theme.js"></script>
  


  {{{_sections.js}}}

</body>

</html>