{{#section 'css'}}

{{/section}}

{{#section 'js'}}

{{/section}}

  <main>
    <div class="container">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #ffffff!important; margin-bottom:0px!important">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="">Khóa học</a></li>
        <li class="breadcrumb-item"><a href="/course/{{course_detail.id}}">{{course_detail.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{lesson_detail.name}}</li>
      </ol>
    </nav>
    </div>
    <div class="page-section bg-light" style="padding-top:0px!important">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-8 py-3">
            <div class="blog-single-wrap">
              <div class="post-thumbnail">
                <video width="730" controls>
                  <source src="/video/{{course_detail.id}}/{{lesson_detail.id}}.mkv">
                </video>
              </div>
              <h3 class="post-title">{{lesson_detail.name}}</h3>
              <div class="content-lesson">
                {{lesson_detail.content}}
              </div>
            </div>
          </div>

          <div class="col-lg-4 py-3">
            <div class="widget">
              <h3>Đề cương khóa học</h3>
            <div class="accordion" id="accordionExample">
              {{#each course_detail.chapter_lesson}}
              <div class="card">
                <div class="card-header" id="heading{{this.id}}">
                  <h2 class="mb-0">
                    <button class="btn btn-link text-left" style="width: 100%; padding-left:0px;" type="button" data-toggle="collapse" data-target="#collapse{{this.id}}" aria-expanded="true" aria-controls="collapse{{this.id}}">
                      {{this.name}}
                    </button>
                  </h2>
                </div>

                <div id="collapse{{this.id}}" class="collapse show" aria-labelledby="heading{{this.id}}" data-parent="#accordionExample">

                  {{#each this.lesson}}
                  <div class="card-body border-bottom">
                    <a style="color: black;" href="../lesson/{{this.id}}">{{this.name}}</a>
                  </div>
                  {{/each}}
                </div>
              </div>
              {{/each}}
            </div>                 
            </div> <!-- .comment-form-wrap -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>