<main>
  <div class="page-section bg-light">
    <div class="container">
      <form class="search-form mb-5">
        <div class="form-group">
          <input type="text" class="form-control search" placeholder="Nhập tên khóa học hoặc lĩnh vực">
          <button type="submit" class="btn btnsearch">Tìm kiếm</button>
        </div>
      </form>
      <div class="row">
        <div class="col-lg-4">
          <div class="course-filter">
            <h5>Sắp xếp</h5>
            <select id="sort" class="custom-select">
              {{#each listCategory}}
              <option value="{{@key}}">{{this.name}}</opion>
                {{/each}}
            </select>

            <hr>

            <h5>Giá</h5>
            <ul class="course-filter-list">
              <li>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="price1" name="sort" value="priceincrease">
                  <label class="custom-control-label" for="price1">Tăng dần</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="price2" name="sort" value="pricedecrease">
                  <label class="custom-control-label" for="price2">Giảm gần</label>
                </div>
              </li>
            </ul>

            <hr>

            <h5>Điểm đánh giá</h5>
            <ul class="course-filter-list">
              <li>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="rating1" name="sort" value="rateincrease">
                  <label class="custom-control-label" for="rating1">Tăng dần</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="rating2" name="sort" value="ratedecrease">
                  <label class="custom-control-label" for="rating2">Giảm gần</label>
                </div>
              </li>
            </ul>

            <hr>

            <h5>Khóa học</h5>
            <ul class="course-filter-list">
              <li>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="course1" name="sort" value="newcourse">
                  <label class="custom-control-label" for="course1">Mới nhất</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="course2" name="sort" value="learnestcourse">
                  <label class="custom-control-label" for="course2">Học nhiều nhất</label>
                </div>
              </li>
            </ul>


            <button class="btn btn-secondary btn-block space-up-32">Reset</button>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
            {{#each listCourse}}
            <div class="item">
              <div class="course-card">
                <div class="badge badge-danger">New</div>
                <div class="header">
                  <img src="/img/course/{{id}}.jpg" alt="">
                </div>
                <div class="content text-left">
                  <p class="course-title"><a href="{{caturl}}/{{id}}" title="Artificial Intelligence">{{this.name}}</a>
                  </p>
                  <small
                    style="margin-bottom:0!important;color: #3f3c3c; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{this.catname}}</small>
                  </br>
                  <small style="color: #676565; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                    {{#each this.teacher}}
                    {{this.fullname}},
                    {{/each}}
                  </small>
                  <div class="rating">
                    <span class="number-rating"><b>{{rating}}</b></span>
                    {{#loop this.rating}}
                    <span class="mai-star"></span>
                    {{/loop}}
                    {{!-- <span class="mai-star"></span>
                    <span class="mai-star"></span>
                    <span class="mai-star"></span>
                    <span class="mai-star"></span> --}}
                    <span class="person-rating" style="color:black;">({{this.num_of_rating}})</span>
                  </div>
                  <div class="price" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                    <span class="text-danger font-weight-bold">{{this.current_price}}</span> <del
                      class="text-muted">{{this.price}}</del>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

          </div> <!-- .row -->

          <nav aria-label="Pagination">
            <ul class="pagination justify-content-end mt-5">

              <li class="page-item">
                <a style="cursor: pointer;" class="page-link">Prev</a>
              </li>
              <li class="page-item active">
                <a style="cursor: pointer;" class="page-link">1</a>
              </li>
              {{#each this.page_items}}
              <li class="page-item">
                <a style="cursor: pointer;" class="page-link">{{value}}</a>
              </li>
              {{/each}}
              <li class="page-item">
                <a style="cursor: pointer;" class="page-link">Next</a>
              </li>
            </ul>
          </nav>
        </div> <!-- .col-lg-8 -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .page-section -->
</main>