{{#section 'css'}}
<style>
  .course-card {
    position: relative !important;
  }

  .badge.badge-danger {
    position: absolute !important;
    left: 85%;
    top: 5;
    width: 10%;
    opacity: 0;
  }

    .bleft {
    position: absolute !important;
    left: 2%!important;
    top: 2%!important;
    width: 20%;
    opacity: 1;
    z-index: 2;
    font-size: 14px;
    background-color: rgb(212, 24, 11);
    border-radius: 5px;
  }

  .bright {
    position: absolute !important;
    left: 2%!important;
    top: 2%!important;
    width: 20%;
    opacity: 1;
    z-index: 2;
    font-size: 14px;
    background-color: rgb(17, 153, 5);
    border-radius: 5px;
  }

</style>
{{/section}}

{{#section 'js'}}
<script>
      $(".course-card").hover(
        function() {
            $(this).children('.badge.badge-danger').css({ "opacity": "1" });
        },
        function() {
            $(this).children('.badge.badge-danger').css({ "opacity": "0" });
        }
    );

    $(".item").hover(
        function() {
            let id = $(this).attr("id");
            let a = $(this).children('.course-card').children('.badge.badge-danger').children('a');
            $.getJSON(`/account/watchlist/is-available?id_course=${id}`, function(data) {
                if (data === false) {
                    a.attr('href', `/account/delwatchlist/${id}`);
                    a.children('i').removeClass('fa-heart-o').addClass('fa-times');
                }
            });
        }
    );
</script>
{{/section}}
<main>
  <div class="page-section py-5">
    <div class="container">
      {{!-- <h5 class="text-center wow fadeInUp">We collaborate with 200+ leading universities and companies</h5> --}}

      <div
        class="row row-col-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-lg-5 justify-content-center align-items-center text-center mt-4">
        <div class="client-item py-3 wow fadeInUp">
          <img src="/img/clients/airbnb.png" alt="">
        </div>
        <div class="client-item py-3 wow fadeInUp">
          <img src="/img/clients/google.png" alt="">
        </div>
        <div class="client-item py-3 wow fadeInUp">
          <img src="/img/clients/mailchimp.png" alt="">
        </div>
        <div class="client-item py-3 wow fadeInUp">
          <img src="/img/clients/paypal.png" alt="">
        </div>
        <div class="client-item py-3 wow fadeInUp">
          <img src="/img/clients/stripe.png" alt="">
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section bg-light">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <h2 class="title-section">Khóa học nổi bậc</h2>
      </div>
      <div class="row justify-content-center mt-4">
        <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row row-cols-5">
                {{#each topHot}}
                <div class="col">
                  <div class="thumb-wrapper">
                    <div class="item" id="{{id}}" style="cursor: pointer;">
                    <div class="course-card">
                      <div class="bleft d-flex justify-content-center align-items-center"><span class="" style="color: white;">Hot</span></div>
                      <div class="badge badge-danger d-flex justify-content-center align-items-center"><a
                    href="/account/addwatchlist/{{id}}" style="color: white;"><i class="fa fa-heart-o fa-lg"
                      aria-hidden="true"></i></a></div>
                      <div class="header">
                        <img src="/img/course/{{image}}" alt="{{name}}">
                      </div>
                      <div class="content text-left">
                        <p class="course-title"><a href="/course/{{id}}"
                            title="Artificial Intelligence">{{this.name}}</a></p>
                        <small
                          style="margin-bottom:0!important;color: #3f3c3c; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{this.catname}}</small>
                        </br>
                        <small style="color: #676565; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          {{#each this.teacher}}
                          {{this.fullname}},
                          {{/each}}
                        </small>
                        <input class="rating-input" type="hidden" value="{{this.rating}}">
                        <div class="rating">
                          <span class="number-rating float-left"><b>{{this.rating}}</b></span>
                          {{{this.rating_star}}}

                          <span class="person-rating" style="color:black;">({{this.num_of_rating}})</span>
                        </div>
                        <div class="price" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          <span class="text-danger font-weight-bold">{{this.current_price}} đ</span> <del
                            class="text-muted">{{this.price}} đ</del>
                        </div>
                      </div>
                      </div>                     
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->

    </div> <!-- .container -->
    <div class="container">
      <div class="text-center wow fadeInUp">
        <h2 class="title-section">Khóa học mới nhất</h2>
      </div>
      <div class="row justify-content-center mt-4">
        <div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row row-cols-5">
                {{#each topNew1}}
                <div class="col">
                  <div class="thumb-wrapper">
                    <div class="item" id="{{id}}" style="cursor: pointer;">
                    <div class="course-card">
                      <div class="bright d-flex justify-content-center align-items-center"><span class="" style="color: white;">New</span></div>
                      <div class="badge badge-danger d-flex justify-content-center align-items-center"><a
                    href="/account/addwatchlist/{{id}}" style="color: white;"><i class="fa fa-heart-o fa-lg"
                      aria-hidden="true"></i></a></div>
                      <div class="header">
                        <img src="/img/course/{{image}}" alt="{{name}}">
                      </div>
                      <div class="content text-left">
                        <p class="course-title"><a href="/course/{{id}}"
                            title="Artificial Intelligence">{{this.name}}</a></p>
                        <small
                          style="margin-bottom:0!important;color: #3f3c3c; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{this.catname}}</small>
                        </br>
                        <small style="color: #676565; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          {{#each this.teacher}}
                          {{this.fullname}},
                          {{/each}}
                        </small>
                        <input class="rating-input" type="hidden" value="{{this.rating}}">
                        <div class="rating">
                          <span class="number-rating float-left"><b>{{this.rating}}</b></span>
                          {{{this.rating_star}}}

                          <span class="person-rating" style="color:black;">({{this.num_of_rating}})</span>
                        </div>
                        <div class="price" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          <span class="text-danger font-weight-bold">{{this.current_price}} đ</span> <del
                            class="text-muted">{{this.price}} đ</del>
                        </div>
                      </div>
                      </div>                     
                    </div>
                  </div>                                                                
                </div>
                {{/each}}
              </div>
            </div>

            <div class="carousel-item">
              <div class="row row-cols-5">
                {{#each topNew2}}
                <div class="col">
                  <div class="thumb-wrapper">
                    <div class="item" id="{{id}}" style="cursor: pointer;">
                    <div class="course-card">
                      <div class="bright d-flex justify-content-center align-items-center"><span class="" style="color: white;">New</span></div>
                      <div class="badge badge-danger d-flex justify-content-center align-items-center"><a
                    href="/account/addwatchlist/{{id}}" style="color: white;"><i class="fa fa-heart-o fa-lg"
                      aria-hidden="true"></i></a></div>
                      <div class="header">
                        <img src="/img/course/{{image}}" alt="{{name}}">
                      </div>
                      <div class="content text-left">
                        <p class="course-title"><a href="/course/{{id}}"
                            title="Artificial Intelligence">{{this.name}}</a></p>
                        <small
                          style="margin-bottom:0!important;color: #3f3c3c; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{this.catname}}</small>
                        </br>
                        <small style="color: #676565; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          {{#each this.teacher}}
                          {{this.fullname}},
                          {{/each}}
                        </small>
                        <input class="rating-input" type="hidden" value="{{this.rating}}">
                        <div class="rating">
                          <span class="number-rating float-left"><b>{{this.rating}}</b></span>
                          {{{this.rating_star}}}
                        
                          <span class="person-rating" style="color:black;">({{this.num_of_rating}})</span>
                        </div>
                        <div class="price" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          <span class="text-danger font-weight-bold">{{this.current_price}} đ</span> <del
                            class="text-muted">{{this.price}} đ</del>
                        </div>
                      </div>
                      </div>                     
                    </div>
                  </div>                                                                
                </div>
                {{/each}}
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel2" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#myCarousel2" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div> <!-- .row -->

    </div> <!-- .container -->
    <div class="container">
      <div class="text-center wow fadeInUp">
        <h2 class="title-section">Khóa học xem nhiều nhất</h2>
      </div>
      <div class="row justify-content-center mt-4">
        <div id="myCarousel3" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row row-cols-5">
                {{#each topView1}}
                <div class="col">
                  <div class="thumb-wrapper">
                    <div class="item" id="{{id}}" style="cursor: pointer;">
                    <div class="course-card">
                      <div class="bleft d-flex justify-content-center align-items-center"><span class="" style="color: white;">Hot</span></div>
                      <div class="badge badge-danger d-flex justify-content-center align-items-center"><a
                    href="/account/addwatchlist/{{id}}" style="color: white;"><i class="fa fa-heart-o fa-lg"
                      aria-hidden="true"></i></a></div>
                      <div class="header">
                        <img src="/img/course/{{image}}" alt="{{name}}">
                      </div>
                      <div class="content text-left">
                        <p class="course-title"><a href="/course/{{id}}"
                            title="Artificial Intelligence">{{this.name}}</a></p>
                        <small
                          style="margin-bottom:0!important;color: #3f3c3c; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{this.catname}}</small>
                        </br>
                        <small style="color: #676565; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          {{#each this.teacher}}
                          {{this.fullname}},
                          {{/each}}
                        </small>
                        <input class="rating-input" type="hidden" value="{{this.rating}}">
                        <div class="rating">
                          <span class="number-rating float-left"><b>{{this.rating}}</b></span>
                          {{{this.rating_star}}}

                          <span class="person-rating" style="color:black;">({{this.num_of_rating}})</span>
                        </div>
                        <div class="price" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          <span class="text-danger font-weight-bold">{{this.current_price}} đ</span> <del
                            class="text-muted">{{this.price}} đ</del>
                        </div>
                      </div>
                      </div>                     
                    </div>
                  </div>                                                                
                </div>
                {{/each}}
              </div>
            </div>

            <div class="carousel-item">
              <div class="row row-cols-5">
                {{#each topView2}}
                <div class="col">
                  <div class="thumb-wrapper">
                    <div class="item" id="{{id}}" style="cursor: pointer;">
                    <div class="course-card">
                      <div class="bleft d-flex justify-content-center align-items-center"><span class="" style="color: white;">Hot</span></div>
                      <div class="badge badge-danger d-flex justify-content-center align-items-center"><a
                    href="/account/addwatchlist/{{id}}" style="color: white;"><i class="fa fa-heart-o fa-lg"
                      aria-hidden="true"></i></a></div>
                      <div class="header">
                        <img src="/img/course/{{image}}" alt="{{name}}">
                      </div>
                      <div class="content text-left">
                        <p class="course-title"><a href="/course/{{id}}"
                            title="Artificial Intelligence">{{this.name}}</a></p>
                        <small
                          style="margin-bottom:0!important;color: #3f3c3c; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{this.catname}}</small>
                        </br>
                        <small style="color: #676565; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          {{#each this.teacher}}
                          {{this.fullname}},
                          {{/each}}
                        </small>
                        <input class="rating-input" type="hidden" value="{{this.rating}}">
                        <div class="rating">
                          <span class="number-rating float-left"><b>{{this.rating}}</b></span>
                          {{{this.rating_star}}}
                        
                          <span class="person-rating" style="color:black;">({{this.num_of_rating}})</span>
                        </div>
                        <div class="price" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                          <span class="text-danger font-weight-bold">{{this.current_price}} đ</span> <del
                            class="text-muted">{{this.price}} đ</del>
                        </div>
                      </div>
                      </div>                     
                    </div>
                  </div>                                                                
                </div>
                {{/each}}
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel3" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#myCarousel3" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div> <!-- .row -->

    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section fun-fact">
    <div class="container">
      <div class="row justify-content-center text-center counter-section">
        <div class="col-md-4 py-3">
          <p>Người dùng đã đăng kí</p>
          <div class="h1 mb-0 number" data-number={{ countUser.sl }}></div>
        </div>
        <div class="col-md-4 py-3">
          <p>Khách hàng vui vẻ</p>
          <div class="h1 mb-0 number" data-number={{ countHappies.sl }}></div>
        </div>
        <div class="col-md-4 py-3">
          <p>Giảng viên, chuyên gia</p>
          <div class="h1 mb-0 number" data-number={{ countTeacher.sl }}></div>
        </div>
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .page-section -->


  <div class="page-section">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <h2 class="title-section">Lĩnh vực nổi bậc</h2>
      </div>
      <div class="row grid-bone justify-content-center mt-3">
        {{#each topCat}}
        <div class="col-md-4 py-1 wow fadeInUp">
          <div class="grid-bone-item" id="{{this.id}}" style="cursor: pointer;">
            <div class="circle-shape">
              {{!-- <span class="mai-business"></span> --}}
              <img src="/img/khac.png" alt="" style="width:100%; height:100%;">
            </div>
            <h5>{{this.name}}</h5>
          </div>
        </div>
        <script>
          $('.grid-bone-item').click(function () {
            let idCate = $(this).attr('id');
            $('#cate').val(idCate);
            $('#formcate').submit();
          });
        </script>
        {{/each}}
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  {{!-- <div class="page-section">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">Đội ngũ của chúng tôi</div>
        <h2 class="title-section">Các chuyên gia, giảng viên</h2>
      </div>

      <div class="owl-carousel team-carousel mt-5 wow fadeInUp">
        <div class="team-wrap">
          <div class="team-profile">
            <img src="/img/teams/team_1.jpg" alt="">
          </div>
          <div class="team-content">
            <h5>Walter White</h5>
            <div class="text-sm fg-grey">Chief Executive Officer</div>

            <div class="social-button">
              <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
              <a href="#"><span class="mai-call"></span></a>
              <a href="#"><span class="mai-mail"></span></a>
            </div>
          </div>
        </div>

        <div class="team-wrap">
          <div class="team-profile">
            <img src="/img/teams/team_2.jpg" alt="">
          </div>
          <div class="team-content">
            <h5>Sarah Johanson</h5>
            <div class="text-sm fg-grey">Chief Technology Officer</div>

            <div class="social-button">
              <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
              <a href="#"><span class="mai-call"></span></a>
              <a href="#"><span class="mai-mail"></span></a>
            </div>
          </div>
        </div>

        <div class="team-wrap">
          <div class="team-profile">
            <img src="/img/teams/team_3.jpg" alt="">
          </div>
          <div class="team-content">
            <h5>Anna Anderson</h5>
            <div class="text-sm fg-grey">Product Manager</div>

            <div class="social-button">
              <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
              <a href="#"><span class="mai-call"></span></a>
              <a href="#"><span class="mai-mail"></span></a>
            </div>
          </div>
        </div>

        <div class="team-wrap">
          <div class="team-profile">
            <img src="/img/teams/team_1.jpg" alt="">
          </div>
          <div class="team-content">
            <h5>Walter White</h5>
            <div class="text-sm fg-grey">Chief Executive Officer</div>

            <div class="social-button">
              <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
              <a href="#"><span class="mai-call"></span></a>
              <a href="#"><span class="mai-mail"></span></a>
            </div>
          </div>
        </div>

        <div class="team-wrap">
          <div class="team-profile">
            <img src="/img/teams/team_2.jpg" alt="">
          </div>
          <div class="team-content">
            <h5>Sarah Johanson</h5>
            <div class="text-sm fg-grey">Chief Technology Officer</div>

            <div class="social-button">
              <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
              <a href="#"><span class="mai-call"></span></a>
              <a href="#"><span class="mai-mail"></span></a>
            </div>
          </div>
        </div>

        <div class="team-wrap">
          <div class="team-profile">
            <img src="/img/teams/team_3.jpg" alt="">
          </div>
          <div class="team-content">
            <h5>Anna Anderson</h5>
            <div class="text-sm fg-grey">Product Manager</div>

            <div class="social-button">
              <a href="#"><span class="mai-logo-facebook-messenger"></span></a>
              <a href="#"><span class="mai-call"></span></a>
              <a href="#"><span class="mai-mail"></span></a>
            </div>
          </div>
        </div>
      </div> <!-- .owl-carousel -->
    </div> <!-- .container -->
  </div> <!-- .page-section --> --}}

  {{!-- <div class="page-section">
    <div class="container">
      <div class="owl-carousel testimonial-single wow fadeInUp">
        <div class="item">
          <div class="row align-items-center">
            <div class="col-lg-6 py-3 pl-lg-5">
              <h4 class="mb-5">"Wonderful service guys – worth every cent!!! I hate filing out forms and it was so much
                easier having you people do it all for me. I originally tried myself but honestly, I don’t have this
                kind of time to waste. I got my Global Entry interview invitation in 3 months and from then on it was
                plain sailing."</h4>
              <h5 class="mb-1">Charles Baker</h5>
              <h5>Brooklyn, NY, USA</h5>
            </div>
            <div class="col-lg-6 py-3">
              <div class="img-fluid">
                <img src="/img/person/person_1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row align-items-center">
            <div class="col-lg-6 py-3 pl-lg-5">
              <h4 class="mb-5">"Wonderful service guys – worth every cent!!! I hate filing out forms and it was so much
                easier having you people do it all for me. I originally tried myself but honestly, I don’t have this
                kind of time to waste. I got my Global Entry interview invitation in 3 months and from then on it was
                plain sailing."</h4>
              <h5 class="mb-1">Charles Baker</h5>
              <h5>Brooklyn, NY, USA</h5>
            </div>
            <div class="col-lg-6 py-3">
              <div class="img-fluid">
                <img src="/img/person/person_2.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section --> --}}

  <div class="page-banner overlay-primary bg-img" style="background-image: url(/img/bg_image_3.jpg);">
    <div class="hero-section">
      <div class="container">
        <div class="row justify-content-center text-center wow fadeInUp">
          <div class="col-lg-8">
            <h2>Trở thành giáo viên?</h2>
            <p>Tham gia cùng hàng ngàn gia sư, chuyên gia. Kiếm tiền từ việc chia sẻ kiến ​​thức chuyên môn của bạn từ
              sự thoải mái ngay tại nhà của bạn.</p>
            <a href="/become" class="btn btn-success space-up-24">Tham gia ngay</a>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .hero-section -->
  </div> <!-- .page-banner -->
</main>