{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#txtDes',
    height: 400,
    plugins: 'paste link autolink lists table',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
    setup: editor => {
      editor.on('init', () => {
          editor.setContent(document.getElementById("value_content").value);
      });
    }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
  $('#fuMain').fileinput({
    theme: 'fa',
    dropZoneEnabled: false,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
  });
</script>
{{/section}}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Chỉnh sửa khóa học</h1>
</div>

<div class="row">
  <div class="col-sm-10">
  <form id="f" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="txtName">Tên khóa học</label>
      <input type="text" class="form-control" id="txtName" name="txtName" value="{{course.name}}">
    </div>
    <div class="form-group">
      <label for="price">Giá khóa học</label>
      <input type="number" class="form-control" id="price" name="price" value="{{course.price}}">
    </div>
    <div class="form-group">
      <label for="offer">Giảm giá (%)</label>
      <input type="number" class="form-control" id="offer" name="offer" value="{{course.offer}}">
    </div>
    <div class="form-group">
      <div><label for="id_category">Chọn lĩnh vực của khóa học</label></div>
      <div>
        <select name="id_category" id="id_category" style="width: 100%;height:38px">
        <option value="{{mycategory.id}}" selected="selected">{{mycategory.name}}</option>
        {{#each categories}}
        <option value={{id}}>{{name}}</option>
        {{/each}}
      </select>
      </div>
    </div>
    <div class="form-group">
      <div><label for="fuMain">Chọn hình ảnh khóa học</label></div>
      <img src="/img/course/{{course.id}}.jpg" alt="" style="width: 150px;" class="pb-3">
      <input id="fuMain" name="fuMain" type="file" class="file" multiple>
    </div>
    <div class="form-group">
        <label for="txtDes">Mô tả khóa học</label></br>
        <input type="hidden" id="value_content" value="{{course.description}}">
        <textarea class="form-control" name="txtDes" id="txtDes" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Thay đổi</button>
  </form>
  </div>
</div>