{{#section 'css'}}

{{/section}}

{{#section 'js'}}

{{/section}}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Chỉnh sửa học viên</h1>
</div>

<div class="row">
  <div class="col-sm-6">
  <form method="POST">
    <input type="hidden" id="txtId" name="txtId" value="{{user.id}}">
    <div class="form-group">
      <label for="txtName">Họ tên</label>
      <input type="text" class="form-control" id="txtName" name="txtName"  value="{{user.fullname}}">
    </div>
    <div class="form-group">
      <label for="txtUsername">Tên tài khoản</label>
      <input type="text" class="form-control" id="txtUsername" name="txtUsername"  value="{{user.username}}">
    </div>
    <div class="form-group">
      <label for="txtPhone">Số điện thoại</label>
      <input type="text" class="form-control" id="txtPhone" name="txtPhone"  value="{{user.phone}}">
    </div>
    <div class="form-group">
      <label for="txtEmail">Email</label>
      <input type="email" class="form-control" id="txtEmail" name="txtEmail" value="{{user.email}}">
    </div>
    <div class="form-group">
      <div><label for="role">Quyền hạn</label></div>
      <div>
      <select name="role" id="role" style="width: 100%; height:38px;">
        <option value="{{myrole.id}}" selected="selected">{{myrole.name}}</option>
        {{#each role}}
        <option value={{id}}>{{name}}</option>
        {{/each}}
      </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary px-5">Thay đổi</button>
  </form>
  </div>
</div>