<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách lĩnh vực</h1>
</div>

<div class="row">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">id_parent</th>
      <th scope="col">url</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody></tbody>
        {{#each categories}}
        <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td>{{id_parent}}</td>
        <td>{{url}}</td>
        <td><a href="/admin/category/{{id}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
        </tr>
        {{/each}}
  </tbody>
</table>
</div>