{{#section 'css'}}
    <!-- Custom styles for this page -->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{{/section}}

{{#section 'js'}}
    <!-- Page level plugins -->
    <script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/datatables-demo.js"></script>
{{/section}}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách giáo viên</h1>
</div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-body">
          {{#if err_message}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{err_message}}
            </div>
            {{/if}}
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">fullname</th>
                      <th scope="col">phone</th>
                      <th scope="col">email</th>
                      <th scope="col">username</th>
                      <th scope="col">info</th>
                      <th scope="col">status</th>
                      <th scope="col">action</th>
                    </tr>
                  </thead>
                  <tbody>
                      {{#each teacher}}
                      <tr>
                      <th scope="row">{{id}}</th>
                      <td>{{fullname}}</td>
                      <td>{{phone}}</td>
                      <td>{{email}}</td>
                      <td>{{username}}</td>
                      <td>{{info}}</td>
                      {{#if teacherstatus}}
                        <td>Hoạt động</td>
                        <td>
                        <form id="delteacher{{id}}" method="POST" action="/admin/teacher/{{id}}/del"></form>
                        <a href="/admin/teacher/{{id}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a href="javascript: $('#delteacher{{id}}').submit();"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        </td>
                        {{else}}
                        <td>Đã bị khóa</td>
                        <td>
                        <form id="activeteacher{{id}}" method="POST" action="/admin/teacher/{{id}}/active"></form>
                        <a href="/admin/teacher/{{id}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a href="javascript: $('#activeteacher{{id}}').submit();"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                        </td>
                        {{/if}}
                      </tr>
                      {{/each}}
                  </tbody>
              </table>
          </div>
      </div>
  </div>